{% extends "base_generic.html" %}

{% block content %}

    {% if validlink %}
        <p>Будьласка, введіть і підтвердіть свій новий пароль.</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новий пароль: </label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Підтвердіть пароль: </label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Змінити пароль!" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1> Помилка при зміні пароля! </h1>
        <p> Посилання на зміну пароля було не дійсне, можливо, тому, що
            воно вже використовувалося. Будь-ласка, запросіть нову зміну пароля!</p>
    {% endif %}

{% endblock %}